In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import json

In [2]:
movies = pd.read_csv("../data/movies.csv")
credits = pd.read_csv("../data/credits.csv")

In [3]:
movies.shape

(4803, 20)

In [4]:
credits.shape

(4803, 4)

In [5]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [6]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [7]:
movies["genres"][0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [8]:
json.loads(movies["genres"][0])

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [9]:
movie_credits = pd.merge(movies, credits, left_on="id", right_on="movie_id")

In [10]:
movie_credits.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title_x', 'vote_average',
       'vote_count', 'movie_id', 'title_y', 'cast', 'crew'],
      dtype='object')

In [11]:
movie_credits = movie_credits[["movie_id","title_x","overview","genres","keywords",'cast', 'crew']]

In [12]:
movie_credits.dropna(inplace = True)

In [13]:
movie_credits.shape

(4800, 7)

In [14]:
movie_credits["genres"][0] # ["Action","Adventure","Fantasy"]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [15]:
values = json.loads(movie_credits["genres"][0])
[value["name"] for value in values]

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

In [16]:
def extract_values(str_lst):
    values = json.loads(str_lst)
    return [value["name"] for value in values]

In [17]:
extract_values(movie_credits["genres"][0])

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

In [18]:
movie_credits["genres"] = movie_credits["genres"].apply(extract_values)
movie_credits["genres"].head()

0    [Action, Adventure, Fantasy, Science Fiction]
1                     [Adventure, Fantasy, Action]
2                       [Action, Adventure, Crime]
3                 [Action, Crime, Drama, Thriller]
4             [Action, Adventure, Science Fiction]
Name: genres, dtype: object

In [19]:
movie_credits["keywords"][0]

'[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]'

In [20]:
movie_credits["keywords"] = movie_credits["keywords"].apply(extract_values)
movie_credits["keywords"].head()

0    [culture clash, future, space war, space colon...
1    [ocean, drug abuse, exotic island, east india ...
2    [spy, based on novel, secret agent, sequel, mi...
3    [dc comics, crime fighter, terrorist, secret i...
4    [based on novel, mars, medallion, space travel...
Name: keywords, dtype: object

In [21]:
#movie_credits["cast"][0]

In [22]:
#extract_values(movie_credits["cast"][0])

In [23]:
movie_credits["cast"].apply(extract_values).apply(lambda x:x[:3])

0        [Sam Worthington, Zoe Saldana, Sigourney Weaver]
1           [Johnny Depp, Orlando Bloom, Keira Knightley]
2            [Daniel Craig, Christoph Waltz, Léa Seydoux]
3            [Christian Bale, Michael Caine, Gary Oldman]
4          [Taylor Kitsch, Lynn Collins, Samantha Morton]
                              ...
4798    [Carlos Gallardo, Jaime de Hoyos, Peter Marqua...
4799         [Edward Burns, Kerry Bishé, Marsha Dietlein]
4800           [Eric Mabius, Kristin Booth, Crystal Lowe]
4801            [Daniel Henney, Eliza Coupe, Bill Paxton]
4802    [Drew Barrymore, Brian Herzlinger, Corey Feldman]
Name: cast, Length: 4800, dtype: object

In [24]:
movie_credits["cast"] = movie_credits["cast"].apply(extract_values).apply(lambda x:x[:3])

0    [Sam Worthington, Zoe Saldana, Sigourney Weaver]
1       [Johnny Depp, Orlando Bloom, Keira Knightley]
2        [Daniel Craig, Christoph Waltz, Léa Seydoux]
3        [Christian Bale, Michael Caine, Gary Oldman]
4      [Taylor Kitsch, Lynn Collins, Samantha Morton]
Name: cast, dtype: object

In [25]:
#movie_credits["crew"][0]

In [26]:
def fetch_director(str_lst):
    values = json.loads(str_lst)
    return [value["name"] for value in values if value["job"] == "Director"]

In [27]:
movie_credits["crew"] = movie_credits["crew"].apply(fetch_director)
movie_credits["crew"].head()

0        [James Cameron]
1       [Gore Verbinski]
2           [Sam Mendes]
3    [Christopher Nolan]
4       [Andrew Stanton]
Name: crew, dtype: object

In [28]:
movie_credits["overview"][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [29]:
movie_credits["overview"] = movie_credits["overview"].str.split()
movie_credits["overview"].head()

0    [In, the, 22nd, century,, a, paraplegic, Marin...
1    [Captain, Barbossa,, long, believed, to, be, d...
2    [A, cryptic, message, from, Bond’s, past, send...
3    [Following, the, death, of, District, Attorney...
4    [John, Carter, is, a, war-weary,, former, mili...
Name: overview, dtype: object

In [30]:
movie_credits.head()

,movie_id,title_x,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

"Sam Mendes" --> "SamMendes"

In [31]:
def collapse(lst):
    final_lst = []
    for i in lst:
        final_lst.append(i.replace(" ",""))
    return final_lst

In [32]:
movie_credits["cast"] = movie_credits["cast"].apply(collapse)
movie_credits["crew"] = movie_credits["crew"].apply(collapse)
movie_credits["genres"] = movie_credits["genres"].apply(collapse)
movie_credits["keywords"] = movie_credits["keywords"].apply(collapse)

In [33]:
movie_credits.head()

,movie_id,title_x,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [34]:
(movie_credits["overview"] + movie_credits["genres"])[0]

['In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.',
 'Action',
 'Adventure',
 'Fantasy',
 'ScienceFiction']

In [35]:
movie_credits.columns

Index(['movie_id', 'title_x', 'overview', 'genres', 'keywords', 'cast',
       'crew'],
      dtype='object')

In [36]:
movie_credits["tags"] = movie_credits["overview"] + movie_credits["genres"] + movie_credits["keywords"] + movie_credits["cast"] + movie_credits["crew"]

In [37]:
final_df = movie_credits.drop(columns = ['overview', 'genres', 'keywords', 'cast','crew'])

In [38]:
final_df.head()

,movie_id,title_x,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [39]:
" ".join(["danial","gauhar","Hertz"])

'danial gauhar Hertz'

In [40]:
final_df["tags"] = final_df["tags"].apply(lambda x: " ".join(x)).str.lower()

In [41]:
final_df["tags"][0]

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver jamescameron'

In [42]:
# Text Vectorization

In [43]:
from sklearn.feature_extraction.text import CountVectorizer

In [44]:
cv = CountVectorizer(max_features = 5000, stop_words="english")

In [45]:
vector = cv.fit_transform(final_df["tags"]).toarray()
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [46]:
vector.shape

(4800, 5000)

In [47]:
vector[0].sum()

31

In [48]:
print(cv.get_stop_words())

frozenset({'other', 'still', 'three', 'mill', 'becomes', 'hundred', 'namely', 'himself', 'nowhere', 'along', 'by', 'bottom', 'next', 'otherwise', 'eight', 'everywhere', 'can', 'ltd', 'many', 'nine', 'show', 'yourselves', 'noone', 'thick', 'whoever', 'while', 'often', 'she', 'describe', 'would', 'through', 'amoungst', 'therein', 'you', 'this', 'so', 'couldnt', 'formerly', 'in', 'already', 'during', 'also', 'ever', 'anyhow', 're', 'for', 'fifty', 'ourselves', 'your', 'more', 'as', 'throughout', 'hereby', 'it', 'should', 'to', 'was', 'become', 'beyond', 'even', 'perhaps', 'both', 'could', 'is', 'whatever', 'since', 'herein', 'detail', 'a', 'never', 'from', 'seem', 'its', 'her', 'go', 'own', 'his', 'always', 'off', 'move', 'alone', 'thereupon', 'why', 'because', 'whence', 'my', 'top', 'serious', 'eg', 'until', 'elsewhere', 'thus', 'not', 'only', 'nothing', 'whom', 'although', 'has', 'nor', 'they', 'anywhere', 'least', 'well', 'upon', 'than', 'now', 'de', 'again', 'twenty', 'yours', 'rather', 'do', 'beforehand', 'around', 'who', 'therefore', 'seeming', 'becoming', 'thereafter', 'mine', 'put', 'others', 'anyone', 'whole', 'wherein', 'fill', 'else', 'where', 'beside', 'latter', 'whereupon', 'with', 'made', 'somewhere', 'side', 'several', 'nevertheless', 'him', 'every', 'two', 'whose', 'cry', 'down', 'an', 'via', 'sometimes', 'none', 'into', 'here', 'ie', 'almost', 'before', 'fifteen', 'wherever', 'on', 'keep', 'found', 'thin', 'get', 'such', 'be', 'one', 'amount', 'sixty', 'something', 'give', 'without', 'he', 'besides', 'whither', 'within', 'will', 'of', 'except', 'nobody', 'un', 'there', 'take', 'front', 'seems', 'please', 'less', 'over', 'these', 'towards', 'somehow', 'we', 'sometime', 'behind', 'our', 'the', 'below', 'find', 'same', 'when', 'too', 'them', 'further', 'enough', 'were', 'across', 'due', 'among', 'twelve', 'meanwhile', 'see', 'full', 'myself', 'once', 'etc', 'hereafter', 'after', 'hence', 'system', 'that', 'most', 'thence', 'been', 'about', 'inc', 'us', 'together', 'onto', 'had', 'yet', 'very', 'hers', 'but', 'latterly', 'thereby', 'seemed', 'ten', 'call', 'ours', 'and', 'whereas', 'some', 'then', 'how', 'against', 'i', 'much', 'under', 'interest', 'everyone', 'itself', 'anything', 'cannot', 'whether', 'hasnt', 'which', 'five', 'whenever', 'someone', 'first', 'everything', 'may', 'afterwards', 'forty', 'if', 'or', 'out', 'must', 'name', 'few', 'anyway', 'however', 'four', 'per', 'all', 'any', 'at', 'toward', 'whereby', 'between', 'those', 'another', 'six', 'herself', 'last', 'indeed', 'what', 'have', 'eleven', 'former', 'their', 'con', 'part', 'third', 'empty', 'might', 'no', 'are', 'back', 'moreover', 'either', 'mostly', 'themselves', 'above', 'thru', 'me', 'cant', 'yourself', 'done', 'hereupon', 'though', 'bill', 'up', 'became', 'co', 'sincere', 'fire', 'whereafter', 'am', 'each', 'amongst', 'being', 'neither'})

In [49]:
print(cv.get_feature_names_out()[:100])

['000' '007' '10' '100' '11' '12' '13' '14' '15' '16' '17' '17th' '18'
 '18th' '19' '1930s' '1940s' '1944' '1950' '1950s' '1960s' '1970s' '1971'
 '1974' '1976' '1980' '1980s' '1985' '1990s' '1999' '19th' '19thcentury'
 '20' '200' '2003' '2009' '20th' '24' '25' '30' '300' '3d' '40' '50' '500'
 '60' '60s' '70' 'aaron' 'aaroneckhart' 'abandoned' 'abducted'
 'abigailbreslin' 'abilities' 'ability' 'able' 'aboard' 'abuse' 'abusive'
 'academy' 'accept' 'accepted' 'accepts' 'access' 'accident' 'accidental'
 'accidentally' 'accompanied' 'accomplish' 'account' 'accountant'
 'accused' 'ace' 'achieve' 'act' 'acting' 'action' 'actionhero' 'actions'
 'activist' 'activities' 'activity' 'actor' 'actors' 'actress' 'acts'
 'actual' 'actually' 'adam' 'adams' 'adamsandler' 'adamshankman'
 'adaptation' 'adapted' 'addict' 'addicted' 'addiction' 'adolescence'
 'adolescent' 'adopt']

In [50]:
import nltk

In [51]:
from nltk.stem.porter import PorterStemmer

In [52]:
ps = PorterStemmer()

In [53]:
ps.stem("loving")

'love'

In [54]:
ps.stem("loved")

'love'

In [55]:
ps.stem("dance")

'danc'

In [56]:
ps.stem("danced")

'danc'

In [57]:
def stem(txt):
    lst = []
    
    for i in txt.split():
        lst.append(ps.stem(i))
        
    return " ".join(lst)

In [58]:
stem(final_df["tags"][0])

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav jamescameron'

In [59]:
final_df["tags"] = final_df["tags"].apply(stem)

In [60]:
cv = CountVectorizer(max_features = 5000, stop_words="english")

In [61]:
vector = cv.fit_transform(final_df["tags"]).toarray()
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [62]:
vector[0].sum()

33

In [63]:
print(cv.get_feature_names_out()[:100])

['000' '007' '10' '100' '11' '12' '13' '14' '15' '16' '17' '17th' '18'
 '18th' '18thcenturi' '19' '1910' '1920' '1930' '1940' '1944' '1950'
 '1950s' '1960' '1960s' '1970' '1970s' '1971' '1974' '1976' '1980' '1985'
 '1990' '1999' '19th' '19thcenturi' '20' '200' '2003' '2009' '20th' '21st'
 '23' '24' '25' '30' '300' '3d' '40' '50' '500' '60' '70' '80' 'aaron'
 'aaroneckhart' 'abandon' 'abduct' 'abigailbreslin' 'abil' 'abl' 'aboard'
 'abov' 'abus' 'academ' 'academi' 'accept' 'access' 'accid' 'accident'
 'acclaim' 'accompani' 'accomplish' 'account' 'accus' 'ace' 'achiev'
 'acquaint' 'act' 'action' 'actionhero' 'activ' 'activist' 'activities'
 'actor' 'actress' 'actual' 'ad' 'adam' 'adamsandl' 'adamshankman' 'adapt'
 'add' 'addict' 'adjust' 'admir' 'admit' 'adolesc' 'adopt' 'ador']

In [65]:
from sklearn.metrics.pairwise import cosine_similarity

In [66]:
similarity = cosine_similarity(vector)

In [67]:
similarity[1]

array([0.08585457, 1.        , 0.06154575, ..., 0.02414023, 0.        ,
       0.02654659])

In [68]:
final_df.rename({"title_x":"title"}, axis=1, inplace = True)

In [69]:
final_df.reset_index(drop=True, inplace = True)

In [70]:
movie_index = final_df[final_df["title"] == "Avatar"].index[0]
movie_index

0

In [71]:
distnaces = similarity[movie_index]
distnaces

array([1.        , 0.08585457, 0.08718573, ..., 0.04559608, 0.        ,
       0.        ])

In [72]:
index_list = list(enumerate(distnaces))
index_list[:5]

[(0, 0.9999999999999998),
 (1, 0.08585457105482137),
 (2, 0.08718572905786445),
 (3, 0.074458079104994),
 (4, 0.19184045508446734)]

In [73]:
similar_movie = sorted(index_list, reverse=True, key = lambda x: x[1])[1:11]
similar_movie

[(1213, 0.29061909685954823),
 (2403, 0.2726248784031353),
 (3723, 0.26401000024165),
 (507, 0.25903973506580724),
 (539, 0.2537477434955704),
 (582, 0.2484013136974297),
 (1201, 0.24784079854830487),
 (1191, 0.23490461932490855),
 (778, 0.23485569615051044),
 (4041, 0.23089735286521348)]

In [74]:
for i in similar_movie:
    print(final_df.iloc[i[0],1])

Aliens vs Predator: Requiem
Aliens
Falcon Rising
Independence Day
Titan A.E.
Battle: Los Angeles
Predators
Small Soldiers
Meet Dave
U.F.O.

In [75]:
def recommender(movie_name):
    movie_index = final_df[final_df["title"] == movie_name].index[0]
    distnaces = similarity[movie_index]
    index_list = list(enumerate(distnaces))
    similar_movie = sorted(index_list, reverse=True, key = lambda x: x[1])[1:11]
    for i in similar_movie:
        print(final_df.iloc[i[0],1])

In [76]:
recommender("Batman")

Batman & Robin
Batman Begins
Batman Returns
The R.M.
The Dark Knight Rises
Batman Forever
Code of Honor
Micmacs
Punisher: War Zone
Rockaway

In [77]:
recommender("Iron Man")

Iron Man 3
Iron Man 2
Avengers: Age of Ultron
The Avengers
Captain America: Civil War
Guardians of the Galaxy
X-Men
Thor: The Dark World
Ant-Man
X-Men Origins: Wolverine

In [78]:
recommender("Thor")

Thor: The Dark World
Clash of the Titans
After Earth
Ant-Man
Iron Man 2
Avengers: Age of Ultron
Rockaway
Little Nicky
Batman v Superman: Dawn of Justice
The Incredible Hulk

In [79]:
import pickle

In [80]:
pickle.dump(final_df, open("movie_list.pkl","wb"))
pickle.dump(similarity, open("similarity.pkl","wb"))

In [81]:
import requests

In [82]:
url = f"https://api.themoviedb.org/3/movie/{19995}?api_key=75eb0685f1f9140663e33eb0ea57150a"
data = requests.get(url)
data = data.json()

In [83]:
poster_path = data["poster_path"]
poster_path

'/kyeqWdyUXW608qlYkRqosgbbJyK.jpg'

In [84]:
full_path = "https://image.tmdb.org/t/p/w500/" + poster_path
print(full_path)

https://image.tmdb.org/t/p/w500//kyeqWdyUXW608qlYkRqosgbbJyK.jpg

In [85]:
def fetch_poster(movie_id):
    url = f"https://api.themoviedb.org/3/movie/{movie_id}?api_key=75eb0685f1f9140663e33eb0ea57150a"
    data = requests.get(url)
    data = data.json()
    poster_path = data["poster_path"]
    full_path = "https://image.tmdb.org/t/p/w500/" + poster_path
    return full_path

In [86]:
print(fetch_poster(11111))

https://image.tmdb.org/t/p/w500//5EB9LAzIePTQoMpg2M1GNJpNn9s.jpg

In [87]:
def recommender(movie_name):
    movie_index = final_df[final_df["title"] == movie_name].index[0]
    distnaces = similarity[movie_index]
    index_list = list(enumerate(distnaces))
    similar_movie = sorted(index_list, reverse=True, key = lambda x: x[1])[1:11]
    
    
    recommended_movie_names = []
    recommended_movie_posters = []
    
    for i in similar_movie:
        movie_id = final_df.iloc[i[0],0]
        recommended_movie_names.append(final_df.iloc[i[0],1])
        recommended_movie_posters.append(fetch_poster(movie_id))
        
    return recommended_movie_names, recommended_movie_posters

In [88]:
recommender("Iron Man")

(['Iron Man 3',
  'Iron Man 2',
  'Avengers: Age of Ultron',
  'The Avengers',
  'Captain America: Civil War',
  'Guardians of the Galaxy',
  'X-Men',
  'Thor: The Dark World',
  'Ant-Man',
  'X-Men Origins: Wolverine'],
 ['https://image.tmdb.org/t/p/w500//qhPtAc1TKbMPqNvcdXSOn9Bn7hZ.jpg',
  'https://image.tmdb.org/t/p/w500//6WBeq4fCfn7AN0o21W9qNcRF2l9.jpg',
  'https://image.tmdb.org/t/p/w500//4ssDuvEDkSArWEdyBl2X5EHvYKU.jpg',
  'https://image.tmdb.org/t/p/w500//RYMX2wcKCBAr24UyPD7xwmjaTn.jpg',
  'https://image.tmdb.org/t/p/w500//rAGiXaUfPzY7CDEyNKUofk3Kw2e.jpg',
  'https://image.tmdb.org/t/p/w500//r7vmZjiyZw9rpJMQJdXpjgiCOk9.jpg',
  'https://image.tmdb.org/t/p/w500//bRDAc4GogyS9ci3ow7UnInOcriN.jpg',
  'https://image.tmdb.org/t/p/w500//wp6OxE4poJ4G7c0U2ZIXasTSMR7.jpg',
  'https://image.tmdb.org/t/p/w500//8YxOIPrabqkQCOKKbuxaz9IcqhO.jpg',
  'https://image.tmdb.org/t/p/w500//yj8LbTju1p7CUJg7US2unSBk33s.jpg'])

4800