In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import json

In [2]:
movies = pd.read_csv("./data/movies.csv")
credits = pd.read_csv("./data/credits.csv")

In [3]:
movies.shape

(4803, 20)

In [4]:
credits.shape

(4803, 4)

In [5]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [6]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [7]:
movie_credits = pd.merge(movies, credits , left_on='id' , right_on='movie_id')

In [8]:
movie_credits.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title_x', 'vote_average',
       'vote_count', 'movie_id', 'title_y', 'cast', 'crew'],
      dtype='object')

In [9]:
movie_credits = movie_credits[['movie_id','genres' , 'keywords'  ,'overview' , 'title_x' , 'cast', 'crew' ]]

In [10]:
movie_credits.head()

,movie_id,genres,keywords,overview,title_x,cast,crew
0,19995,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bond’s past sends him o...,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca...",John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [11]:
def extract_values(json_value , column_name = ''):
    values = json.loads(json_value)
    keywords = []
    
    for value in values:
        if column_name == 'crew':
            if value['job'] == "Director":
                keywords.append(value['name'])
        else :
            keywords.append(value['name'])
    return keywords

In [12]:
movie_credits['genres'] = movie_credits['genres'].apply(extract_values)

In [13]:
movie_credits['keywords'] = movie_credits['keywords'].apply(extract_values)

In [14]:
movie_credits['cast'] = movie_credits['cast'].apply(extract_values).apply(lambda x:x[:4])

In [15]:
movie_credits['crew'] = movie_credits['crew'].apply(lambda x: extract_values(x, column_name='crew')).apply(lambda x:x[:4])

In [16]:
movie_credits['tags'] = movie_credits['genres'] + movie_credits['keywords'] + movie_credits['cast'] + movie_credits['crew']

In [17]:
movie_credits = movie_credits[['movie_id','title_x' , 'tags']]

In [18]:
def collapse(lst):
    final_lst = []
    for i in lst:
        final_lst.append(i.replace(" ",""))
    return final_lst

In [19]:
movie_credits['tags'] = movie_credits['tags'].apply(collapse)

In [20]:
movie_credits['tags'] = movie_credits['tags'].apply(lambda x: " ".join(x)).str.lower()

In [21]:
# Text Vectorization
from sklearn.feature_extraction.text import CountVectorizer


cv = CountVectorizer(max_features = 5000, stop_words="english")
vector = cv.fit_transform(movie_credits["tags"]).toarray()

In [22]:
vector.shape

(4803, 5000)

In [23]:
print(cv.get_feature_names_out()[:100])

['16thcentury' '17thcentury' '18thcentury' '1910s' '1930s' '1940s' '1950s'
 '1960s' '1970s' '1980s' '1990s' '19thcentury' '21stcentury' '3d'
 'aaroneckhart' 'aaronseltzer' 'aarontaylor' 'abbiecornish'
 'abhishekbachchan' 'abigailbreslin' 'abo' 'aborigine' 'abrams'
 'absurdism' 'abuse' 'abusivehusband' 'accident' 'action' 'actionhero'
 'activist' 'actor' 'actress' 'adambeach' 'adambrody' 'adamcarolla'
 'adamdriver' 'adamgarcia' 'adamgoldberg' 'adammckay' 'adamrifkin'
 'adamsandler' 'adamscott' 'adamshankman' 'adaptation' 'addiction'
 'adewaleakinnuoye' 'adolescence' 'adolfhitler' 'adoptedchild' 'adoption'
 'adoptivefather' 'adriangrenier' 'adrianlyne' 'adrienbrody'
 'adriennebarbeau' 'adultanimation' 'adultery' 'advancement' 'adventure'
 'adversary' 'advertisingexecutive' 'advertisingexpert' 'advice' 'affair'
 'affection' 'afghanistan' 'africa' 'africanamerican'
 'aftercreditsstinger' 'afterlife' 'agbaje' 'agedifference' 'agent'
 'aggressionbyanimal' 'aging' 'aidanquinn' 'aids' 'aimeegarcia' 'airforce'
 'airplane' 'airplanecrash' 'airport' 'akshaykumar' 'alanalda' 'alanarkin'
 'alanbates' 'alanparker' 'alanrickman' 'alantudyk' 'alaska'
 'albertbrooks' 'albertfinney' 'alberthughes' 'alcatraz' 'alcohol'
 'alcoholabuse' 'alcoholic' 'alcoholism' 'alecbaldwin' 'alecguinness']

In [24]:
import nltk
from nltk.stem.porter import PorterStemmer

In [25]:
ps = PorterStemmer()

In [26]:
def stem(txt):
    lst = []
    
    for i in txt.split():
        lst.append(ps.stem(i))
        
    return " ".join(lst)

In [27]:
movie_credits["tags"] = movie_credits["tags"].apply(stem)

In [28]:
cv = CountVectorizer(max_features = 5000, stop_words="english")
vector = cv.fit_transform(movie_credits["tags"]).toarray()

In [29]:
print(cv.get_feature_names_out()[:100])

['16thcenturi' '17thcenturi' '18thcenturi' '1910' '1930' '1940' '1950'
 '1960' '1970' '1980' '1990' '19thcenturi' '21stcenturi' '3d'
 'aaroneckhart' 'aaronpaul' 'aaronseltz' 'aarontaylor' 'abbiecornish'
 'abhishekbachchan' 'abigailbreslin' 'abo' 'aborigin' 'abram' 'absurd'
 'abus' 'abusivehusband' 'accid' 'action' 'actionhero' 'activist' 'actor'
 'actress' 'adambeach' 'adambrodi' 'adamcarolla' 'adamdriv' 'adamgarcia'
 'adamgoldberg' 'adammckay' 'adamrifkin' 'adamsandl' 'adamscott'
 'adamshankman' 'adapt' 'addict' 'adewaleakinnuoye' 'adolesc' 'adolfhitl'
 'adopt' 'adoptedchild' 'adoptivefath' 'adriangreni' 'adrianlyn'
 'adrienbrodi' 'adriennebarbeau' 'adultanim' 'adulteri' 'advanc'
 'adventur' 'adversari' 'advertisingexecut' 'advertisingexpert' 'advic'
 'affair' 'affect' 'afghanistan' 'africa' 'africanamerican'
 'aftercreditssting' 'afterlif' 'agbaj' 'age' 'agediffer' 'agent'
 'aggressionbyanim' 'aid' 'aidanquinn' 'aimeegarcia' 'airforc' 'airplan'
 'airplanecrash' 'airport' 'akshaykumar' 'alanalda' 'alanarkin' 'alanb'
 'alanpark' 'alanrickman' 'alantudyk' 'alaska' 'albertbrook'
 'albertfinney' 'alberthugh' 'alcatraz' 'alcohol' 'alcoholabus'
 'alecbaldwin' 'alecguin' 'alejandroamenábar']

In [30]:
from sklearn.metrics.pairwise import cosine_similarity

similarity = cosine_similarity(vector)

similarity[1]

array([0.12038585, 1.        , 0.12038585, ..., 0.        , 0.        ,
       0.        ])

In [31]:
movie_credits.rename({"title_x":"title"}, axis=1, inplace = True)

In [32]:
import pickle

In [33]:
pickle.dump(movie_credits, open("movie_list.pkl","wb"))
pickle.dump(similarity, open("similarity.pkl","wb"))

In [34]:
import requests